h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  src: url("Roboto-Regular-webfont.015d4426.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.page {
  letter-spacing: -.01em;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: #ffeefc;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.page__menu {
  opacity: 0;
  pointer-events: none;
  background-color: #ffeefc;
  height: 100%;
  transition: opacity 1s, visibility 1s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.page__menu:target {
  opacity: 1;
  pointer-events: all;
  padding-bottom: 20px;
}

.page:has(.page__menu:target) {
  overflow: hidden;
}

.page__body {
  margin: 0;
}

.header {
  box-sizing: border-box;
  height: 100vh;
  min-height: 666px;
  padding-inline: 16px;
}

@media (width >= 768px) {
  .header {
    margin-inline: auto;
    padding-inline: 32px;
  }
}

@media (width >= 1440px) {
  .header {
    margin-inline: auto;
    padding-inline: 32px;
  }
}

.header__top {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 64px);
  display: flex;
}

@media (width >= 768px) {
  .header__top {
    grid-template-rows: 4fr 1fr 4fr;
    grid-template-columns: repeat(8, 1fr);
    justify-content: stretch;
    max-width: 1130px;
    margin-inline: auto;
    display: grid;
  }
}

@media (width >= 1200px) {
  .header__top {
    grid-template-rows: 1fr 1fr 3fr;
    height: calc(100vh - 88px);
  }
}

.header__item {
  letter-spacing: -.01em;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (width >= 768px) {
  .header__item {
    text-align: left;
    grid-column: 1 / -1;
    width: 100%;
  }
}

@media (width >= 1200px) {
  .header__item {
    grid-row: 2;
  }
}

.header__text {
  max-width: 280px;
  margin: 0;
  padding-block: 32px;
}

@media (width >= 1200px) {
  .header__text {
    max-width: 260px;
  }
}

@media (width >= 1440px) {
  .header__text {
    max-width: 280px;
  }
}

.header__logo {
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (width >= 768px) {
  .header__logo {
    grid-area: 2 / 1 / auto / -1;
  }
}

@media (width >= 1200px) {
  .header__logo {
    grid-row: 1 / -1;
  }
}

.header__img {
  width: 288px;
  height: 290px;
}

@media (width >= 768px) {
  .header__img {
    z-index: -1;
    width: 326px;
    height: 328px;
  }
}

@media (width >= 1200px) {
  .header__img {
    width: 544px;
    height: 546px;
  }
}

@media (width >= 1440px) {
  .header__img {
    width: 584px;
    height: 586px;
  }
}

.header__title {
  text-align: center;
  color: #f9512e;
  text-transform: uppercase;
  grid-area: 2 / 1 / auto / -1;
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 64px;
  font-weight: 400;
  line-height: 54.4px;
}

@media (width >= 768px) {
  .header__title {
    font-size: 80px;
    line-height: 68px;
  }
}

@media (width >= 1200px) {
  .header__title {
    grid-row: 1 / -1;
    font-size: 132px;
    line-height: 130px;
  }
}

.header__buttons {
  justify-content: center;
  display: flex;
}

@media (width >= 768px) {
  .header__buttons {
    grid-column: 1 / -1;
  }
}

@media (width >= 1200px) {
  .header__buttons {
    grid-row: 3;
    justify-content: left;
  }
}

.header__button {
  text-transform: uppercase;
  color: #f9512e;
  background-color: #ffeefc;
  border: 2px solid #f9512e;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 288px;
  height: 56px;
  display: flex;
}

.header__button:before {
  content: "";
  background-image: url("button-icon.86783066.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.header__button:hover:before {
  background-image: url("button-icon2.0de5a4cd.svg");
}

.header__button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #f9512e;
}

.header__button:hover:active {
  background-color: #b2341a;
}

@media (width >= 768px) {
  .header__button {
    width: 326px;
    height: 56px;
  }
}

@media (width >= 1200px) {
  .header__button {
    width: 260px;
  }
}

@media (width >= 1440px) {
  .header__button {
    width: 280px;
    height: 56px;
  }
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.icon-menu {
  background-image: url("menu.99871271.png");
}

@media (width >= 1200px) {
  .icon-menu {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
}

.icon-close {
  background-image: url("close.b195aaf1.svg");
}

.top-bar {
  justify-content: space-between;
  align-items: center;
  height: 64px;
  display: flex;
}

@media (width >= 1200px) {
  .top-bar {
    height: 88px;
  }
}

.nav {
  width: 100%;
}

.nav--footer {
  margin-top: 64px;
}

@media (width >= 768px) {
  .nav--footer {
    margin-top: 75px;
  }
}

@media (width >= 1200px) {
  .nav--footer {
    margin-top: 30px;
  }
}

.nav__list {
  text-align: center;
  flex-direction: column;
  gap: 24px;
  margin-top: 134px;
  padding: 0;
  list-style: none;
  display: flex;
}

.nav__list--footer {
  gap: 16px;
  margin: 0;
}

.nav--header {
  text-align: center;
  flex-direction: row;
  align-items: center;
  gap: 64px;
  width: auto;
  margin: auto;
}

.nav__item {
  display: block;
}

.nav__item--footer {
  text-align: left;
  text-decoration: none;
}

.nav__item--footers {
  display: none;
}

.nav__button {
  text-transform: uppercase;
  letter-spacing: .02em;
  color: #f9512e;
  cursor: pointer;
  background-color: #ffeefc;
  border: none;
  border-bottom: 1px solid #ffeefc;
  align-items: center;
  height: 32px;
  margin: auto;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  display: flex;
}

.nav__button:before {
  content: "";
  background-image: url("phone.181bcdd6.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.nav__button:hover {
  border-bottom: 1px solid #f9512e;
}

.nav__link {
  color: #1c1a26;
  border-bottom: 1px solid #ffeefc;
  width: fit-content;
  text-decoration: none;
}

.nav__link:hover {
  border-bottom: 1px solid #000;
}

.nav__link--footer {
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #000;
  width: fit-content;
}

.nav__link--footer:hover {
  border-bottom: 1px solid #fff;
}

.nav__link--menu {
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: left;
  color: #7f8096;
  pointer-events: none;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.footer {
  padding-top: 61px;
}

.menu__content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.menu__content-header {
  display: none;
}

@media (width >= 1200px) {
  .menu__content-header {
    display: flex;
  }
}

.menu__top {
  padding-inline: 16px;
}

@media (width >= 768px) {
  .menu__top {
    margin-inline: auto;
    padding-inline: 32px;
  }
}

@media (width >= 1440px) {
  .menu__top {
    margin-inline: auto;
    padding-inline: 32px;
  }
}

@media (width >= 768px) {
  .prodyct {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
    display: grid;
  }
}

.prodyct__inventory {
  letter-spacing: -.01em;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (width >= 768px) {
  .prodyct__inventory {
    grid-column: 1 / -1;
  }
}

.prodyct__button {
  text-transform: uppercase;
  letter-spacing: .02em;
  color: #f9512e;
  pointer-events: auto;
  background-color: #ffeefc;
  border: none;
  border-bottom: 1px solid #ffeefc;
  align-items: center;
  gap: 4px;
  width: fit-content;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
}

.prodyct__button:before {
  content: "";
  background-image: url("prodyct__button-icon.c5727166.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}

.prodyct__button:hover {
  cursor: pointer;
  border-bottom: 1px solid #f9512e;
}

.prodycts {
  margin-top: 64px;
  transition: transform .5s;
}

.prodycts:hover {
  transform: scale(1.1);
}

@media (width >= 768px) {
  .prodycts {
    grid-column: span 4;
    margin-top: 80px;
  }
}

@media (width >= 1200px) {
  .prodycts {
    grid-column: span 3;
  }
}

.prodycts__title {
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: left;
  color: #7f8096;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.prodycts__description {
  letter-spacing: -.01em;
  text-align: left;
  color: #1c1a26;
  margin: 8px 0 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (width >= 768px) {
  .prodycts__description {
    grid-column: span 4;
  }
}

.prodycts__photo {
  width: 100%;
}

@media (width >= 1200px) {
  .prodycts--pozicion {
    grid-column: 3 / 6;
  }
}

.section__title {
  text-transform: uppercase;
  letter-spacing: -.05em;
  text-align: left;
  color: #f9512e;
  margin: 0 0 24px;
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
  line-height: 85%;
}

@media (width >= 1200px) {
  .section__title {
    font-size: 72px;
    line-height: 61.2px;
  }
}

.section__title--contact-us {
  color: #fff;
  letter-spacing: 1px;
  max-width: 300px;
}

@media (width >= 1200px) {
  .section__title--contact-us {
    max-width: 584px;
  }
}

@media (width >= 768px) {
  .section__title--grid {
    grid-column: 1 / -1;
  }

  .section__title--about-us {
    grid-column: span 4;
    max-width: 328px;
  }
}

@media (width >= 1200px) {
  .section__title--about-us {
    max-width: 584px;
  }
}

.main {
  padding-inline: 44px;
  margin-inline: auto;
  padding-top: 64px;
}

@media (width >= 768px) {
  .main {
    max-width: 680px;
    padding-top: 0;
  }
}

@media (width >= 1200px) {
  .main {
    max-width: 1100px;
    padding-top: 152px;
  }
}

@media (width >= 1440px) {
  .main {
    max-width: 1200px;
    padding-inline: 92px;
  }
}

.about-us {
  margin-block: 72px;
}

@media (width >= 768px) {
  .about-us {
    background-image: url("crumbs.b80e9176.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
    margin-block: 152px;
    display: grid;
  }
}

@media (width >= 768px) and (width >= 1200px) {
  .about-us {
    margin-block: 178px;
  }
}

.stat {
  background-image: url("crumbs.b80e9176.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (width >= 768px) {
  .stat {
    background-image: none;
    grid-column: 1 / -1;
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
    display: grid;
  }
}

.stats {
  padding-block: 48px;
}

@media (width >= 768px) {
  .stats {
    grid-column: span 4;
    padding-block: 72px;
  }
}

@media (width >= 1200px) {
  .stats {
    padding-block: 144 px;
    grid-column: span 2;
  }
}

.stats__title {
  letter-spacing: -.05em;
  text-align: left;
  color: #f9512e;
  margin: 0;
  font-size: 96px;
  font-weight: 400;
  line-height: 81.6px;
}

.footer {
  background-color: #000;
  flex-direction: column;
  row-gap: 64px;
  padding-inline: 16px;
  display: flex;
}

@media (width >= 768px) {
  .footer {
    margin-inline: auto;
    padding-inline: 32px;
  }
}

@media (width >= 1440px) {
  .footer {
    margin-inline: auto;
    padding-inline: 32px;
  }
}

@media (width >= 768px) {
  .footer {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 24px;
    display: grid;
  }
}

.footer__menu {
  color: #f0f8ff;
}

.footer__botton {
  letter-spacing: -.01em;
  text-align: left;
  color: #7f8096;
  grid-column: 5 / -1;
  margin: 0;
  padding-bottom: 56px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.contact-us {
  flex-direction: column;
  gap: 40px;
  display: flex;
}

@media (width >= 768px) {
  .contact-us {
    grid-column: span 4 / -1;
  }
}

@media (width >= 1200px) {
  .contact-us {
    display: grid;
  }
}

.contact-us__number {
  flex-direction: column;
  gap: 16px;
  max-width: 288px;
  display: flex;
}

.contact-us__title {
  letter-spacing: .02em;
  text-align: left;
  text-transform: uppercase;
  color: #7f8096;
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
}

.contact-us__numbers {
  color: #fff;
  border-bottom: 1px solid #000;
  width: fit-content;
  text-decoration: none;
}

.contact-us__numbers:hover {
  border-bottom: 1px solid #fff;
}

.contact-us__emails {
  flex-direction: column;
  gap: 16px;
  display: flex;
}

@media (width >= 768px) {
  .contact-us__emails {
    padding-block: 40px;
  }
}

@media (width >= 1200px) {
  .contact-us__emails {
    padding-block: 0;
  }
}

.contact-us__email {
  letter-spacing: -.01em;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #000;
  width: fit-content;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
}

.contact-us__email:hover {
  border-bottom: 1px solid #fff;
}

.social {
  gap: 32px;
  display: flex;
}

@media (width >= 1200px) {
  .social {
    grid-column: span 4;
  }
}

.social__icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 24px;
  height: 24px;
}

.social__icon--facebook {
  background-image: url("facebook.8a9e5ade.svg");
}

.social__icon--facebook:hover {
  background-image: url("facebook2.19cc00b3.svg");
}

.social__icon--instagram {
  background-image: url("instagram.6980965e.svg");
}

.social__icon--instagram:hover {
  background-image: url("instagram2.a8ffdc21.svg");
}

.social__icon--twitter {
  background-image: url("twitter.2fa3d31d.svg");
}

.social__icon--twitter:hover, .social__icon--twitter:hover:focus {
  background-image: url("twitter2.a0d1b4db.svg");
}

@media (width >= 768px) {
  .section__menu {
    grid-column: span 4;
  }
}
/*# sourceMappingURL=index.971c2ea4.css.map */
